# For loop

In [5]:
l = [1,2,3,4,5]

In [7]:
for num in l:
    print(num)

1
2
3
4
5

In [9]:
 for i in l:
     print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [11]:
for i in l:
    print(i+100)

101
102
103
104
105

In [13]:
for i in 'Data':
    print(i)

D
a
t
a

In [15]:
names = ['om','ram','sham','ganesh','ramesh']

In [19]:
for i in names:
    print(i)

om
ram
sham
ganesh
ramesh

In [25]:
for i in names:
    print('my name is ' + i)

my name is om
my name is ram
my name is sham
my name is ganesh
my name is ramesh

In [27]:
mix = [1,1.5,'data',True,10+5j]

In [29]:
for i in mix:
    print(i)

1
1.5
data
True
(10+5j)

In [31]:
for i in mix:
    print(i,type(i))

1 <class 'int'>
1.5 <class 'float'>
data <class 'str'>
True <class 'bool'>
(10+5j) <class 'complex'>

In [76]:
# for loop is going to iterate data one by one.

In [97]:
for i in mix:
    if type(i) == int:
        print(i)

1

In [101]:
p=[1,2,3,4,[10,20,30],5,6]

In [103]:
for i in p:
    print(i)

1
2
3
4
[10, 20, 30]
5
6

In [105]:
for i in p:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
[10, 20, 30] <class 'list'>
5 <class 'int'>
6 <class 'int'>

In [107]:
for i in p:
    if type(i) == list:
        for num in i:
            print(num)

10
20
30

In [109]:
# filter out even and odd data

In [111]:
num = 5
if num % 2 ==0:
    print(even)
else:
    print('odd')

odd

In [113]:
# filter out even number from 1 to 10 dataset