In [2]:
def test(x):
    if x > 10:
        return 'grater than 10'
    else:
        return 'not grater than 10'

In [4]:
test(4)

'not grater than 10'

In [6]:
test(11)

'grater than 10'

In [8]:
def test2(a,b,c,d,e):
    return a,b,c,d,e

In [10]:
test2(10,20,30,40,50)

(10, 20, 30, 40, 50)

In [18]:
mix = [10,1.5,True,'hello']

In [14]:
def int_filter(x):
    l = []
    for i in x:
        if type (i) == int:
            l.append(i)
    return l

In [20]:
int_filter( [10,1.5,True,'hello'])

[10]

In [22]:
# local and global variable
>local is valid for one function.
>global is valid for every function.

In [28]:
def float_filter(x):
    o = []
    for i in x:
        if type(i) == float:
            o .append(i)
    return o

In [30]:
float_filter([10,1.5,True,'hello'])

[1.5]

In [32]:
#List filter

In [36]:
m = [(1,2,3),[10,20,30],{1,2,3},{'a':10,'b':20}]

In [38]:
for i in m:
    print(i,type(i))

(1, 2, 3) <class 'tuple'>
[10, 20, 30] <class 'list'>
{1, 2, 3} <class 'set'>
{'a': 10, 'b': 20} <class 'dict'>

In [42]:
def list_filter(x):
    l = []
    for i in x:
        if type(i) == list:
            l.append(i)
    return l

In [44]:
list_filter([(1,2,3),[10,20,30],{1,2,3},{'a':10,'b':20}])

[[10, 20, 30]]

In [46]:
# how to fetch nested list dataset

In [50]:
l = [(1,2,3),[10,20,30],{1,2,3},{'a':10,'b':20}]

In [52]:
l

[(1, 2, 3), [10, 20, 30], {1, 2, 3}, {'a': 10, 'b': 20}]

In [56]:
for i in l:
    if type (i) == list:
        for num in i:
            print(num)

10
20
30

In [58]:
# filter out int type of data

In [60]:
k = [ 1,1.5,10,True,[20,2.5,'hey',100],8]

In [62]:
k

[1, 1.5, 10, True, [20, 2.5, 'hey', 100], 8]

In [68]:
def int_nested_filter(x):
    l = []
    for i in x:
        if type(i) == int:
            l.append(i)
        elif type (i) == list:
            for num in i:
             if type (num) == int:
                l.append(num)
    return l

In [70]:
int_nested_filter([ 1,1.5,10,True,[20,2.5,'hey',100],8])

[1, 10, 20, 100, 8]

In [72]:
# what if i want to pass infinite data to my function

SyntaxError: incomplete input (1720764337.py, line 1)

NameError: name 'test4' is not defined